.wbdv-course-grid-card{
  width: 18rem;
  height: 16rem;
  background-color: white;
  border-color: #f0f0f0;
  border-width: 20px;
  border-style: solid;
  padding-left: 10px;
  position:relative;
}

.wbdv-course-card-edit{
  margin-left: 0;
}

.wbdv-course-grid-card-title{
  position: absolute;
  left: 6px;
  bottom: 20px;
}

.wbdv-modified-card{
  font-size: xx-small;
  position: absolute;
  left: 5px;
  bottom: 5px;
}

.wbdv-icon-course-card{
  font-size: medium;
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.card-img-top{
  max-width: 18rem;
  max-height: 10rem;
}