.wbdv-course-title{
  color: rgba(255, 255, 255, 1);
  display: block;
  padding: .5rem 1rem;
  font-size: large;
  font-weight: bolder;
}

.wbdv-close {
  color: #ced4da;
}

.fillscreen{
  height: 100vh;
}

.nav-link{
  color: #282c34;
}

.col-3 {
  background-color: #1f1e1e;
}

.wbdv-course-editor-body{
  background-color: #1f1e1e;
}

.wbdv-topic-add-btn{
  background-color: gray;
  border-color: gray;
}

.preview-save{
  height: 35px;
}

a:hover{
  color: #97b3d5;
}

.wbdv-module-list{
  margin-top: 10px;
}

.list-group-item.wbdv-module-item{
  background-color: #343a40;
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
}

.right-field{
  background-color: white;
}

/*ul{*/
/*  padding-inline-start: 0*/
/*}*/


.wbdv-row-topic{
  margin-left: 2px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.wiget-toggle{
  margin-left: 3px;
}

.image-preview-widget{
  max-width: 100%;
  max-height: 100%;
}

.widget-dropdown{
  border-radius: 6px;
  border-color: #ced4da;
}

.wbdv-widget{
  margin-top: 10px;
}

.wbdv-module-item-add-btn{
  color: white;
  margin-top: 20px;
}

.wbdv-widget-item-add-btn{
  color: #e32727;
  margin-top: 20px;
}


.wbdv-topic-pill-active{
  background-color: #c6c4c4;
  padding: .2rem .2rem;
  width: auto;
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 5px;
}

.content-box{
  position: relative;
}

.wbdv-toggle{
  margin-top: 6px;
  margin-left: 3px;
}

.wbdv-btn-delete{
  margin-left: 6px;
}

.wbdv-btn-up{
  margin-left: 6px;
  margin-right: 3px;
}

.wbdv-btn-down{
  margin-left: 3px;
  margin-right: 6px;
}

.form-control {
  margin-left: 16px;
  margin-right: 16px;
}

.wbdv-module-item-title {
  color: white;
}

.wbdv-lesson-add-btn {
  color: white;
  position: fixed;
  right: 24px;
  top: 14px;
}

.wbdv-module-item-active{
  background-color: #d4d4d4;
}

.wbdv-lesson-item-active{
  background-color: #f0f0f0;
  border-color: #d4d4d4;
  border-style: solid;
  border-width: thin;
}

.wbdv-topic-pill{
  background-color: #f0f0f0;
  padding: .2rem .2rem;
  width: auto;
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 5px;
}

.wbdv-pills-plus{
  margin-top: 10px;
}

.image-preview-widget{
  max-width: 50%;
  max-height: 50%;
}

.click-cursor{
  cursor: pointer;
}